*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.geany
.vscode/
coverage
npm-debug.log*
node_modules
leveldb-brain
hubot.conf
.DS_Store*
.hubot_history
hubot-matrix.localStorage
